In [1]:
from utz import *
from IPython.display import HTML, SVG, display

import fiona
import geopandas as gpd
from geopy import distance
import shapefile
from shapely.geometry import Point

import plotly.express as px
import plotly.graph_objects as go

import sys
sys.executable

'/opt/homebrew/Caskroom/mambaforge/base/envs/geopandas/bin/python'

## Mapbox configs

In [2]:
token = open(".mapbox-token").read()
mapbox = dict(mapbox=dict(
    style="dark",
    accesstoken=token,
))

## All roads (SRIs, MPs)

In [3]:
fiona.listlayers('NJ_Roadway_Network.gdb')

['NJ_Roadway_Network']

In [4]:
r1 = gpd.read_file('NJ_Roadway_Network_Shapefile/NJ_Roadway_Network.shp')
r1

,OBJECTID,SRI,MP_START,MP_END,DIRECTION,SLD_NAME,MEASURED_L,PARENT_SRI,PARENT_MP_,PARENT_MP1,ACTIVE,YEAR_ACTIV,YEAR_RETIR,ROUTE_SUBT,ROAD_NUM,SRI_OLD,created_us,created_da,last_edite,last_edi_1,Shape_Leng,geometry
0,1,00000001__A100080,0.00,0.171,NaN,FR US 1 NB to RT 33,0.171,00000001__,0.80,0.80,Y,NaN,NaN,8,NaN,00000001__A100080,NaN,NaN,NaN,NaN,1286.731049,"LINESTRING (419915.520 503314.580, 419962.623 ..."
1,2,00000001__A100130,0.00,0.097,NaN,FR US 1 NB to PERRY ST,0.097,00000001__,1.30,1.30,Y,NaN,NaN,8,NaN,00000001__A100130,NaN,NaN,NaN,NaN,737.881509,"LINESTRING (419946.130 506185.230, 419942.076 ..."
2,3,00000001__A100250,0.00,0.111,NaN,FR US 1 NB to MULBERRY ST,0.111,00000001__,2.50,2.50,Y,NaN,NaN,8,NaN,00000001__A100250,NaN,NaN,NaN,NaN,1034.788477,"LINESTRING (423852.380 511259.420, 423967.994 ..."
3,4,00000001__A100360,0.00,0.105,NaN,FR US 1 NB to CO 616,0.105,00000001__,3.60,3.60,Y,NaN,NaN,8,NaN,00000001__A100360,NaN,NaN,NaN,NaN,798.048702,"LINESTRING (428120.450 515110.790, 428145.283 ..."
4,5,00000001__A100760,0.00,0.022,NaN,US 1 NB to QUAKERBRIDGE MALL,0.022,00000001__,7.60,7.60,Y,NaN,NaN,8,NaN,00000001__A100760,NaN,NaN,NaN,NaN,258.335463,"LINESTRING (440305.750 531297.550, 440351.201 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105819,105820,00000007__,0.00,5.290,South to North,NJ 7,5.290,00000007__,5.29,0.00,Y,NaN,NaN,3,7,00000007__,NaN,NaN,NaN,NaN,27958.093338,"LINESTRING (609998.074 694473.708, 609944.064 ..."
105820,105821,00000007__,5.99,10.100,South to North,NJ 7,4.110,00000007__,10.10,5.99,Y,NaN,NaN,3,7,00000007__,NaN,NaN,NaN,NaN,21682.406056,"LINESTRING (587795.430 709676.650, 587860.330 ..."
105821,105822,11021370__,0.00,1.020,NaN,SILVA ST,1.020,11021370__,1.02,0.00,Y,NaN,NaN,7,NaN,11021370,NaN,NaN,NaN,NaN,5369.687387,"LINESTRING (404068.510 517974.310, 404159.710 ..."
105822,105823,13281733__,0.00,0.180,NaN,SILVER LEAF DR,0.180,13281733__,0.18,0.00,Y,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,970.580004,"LINESTRING (558889.766 532823.114, 558956.799 ..."
105823,105824,00000046__,0.00,72.090,West to East,US 46,72.090,00000046__,72.09,0.00,Y,NaN,NaN,2,46,00000046,NaN,NaN,NaN,NaN,381195.934234,"LINESTRING (327182.190 764284.530, 327342.310 ..."

In [5]:
r2 = gpd.read_file('NJ_Roadway_Network.gdb')
r2

,SRI,MP_START,MP_END,DIRECTION,SLD_NAME,MEASURED_LENGTH,PARENT_SRI,PARENT_MP_START,PARENT_MP_END,ACTIVE,YEAR_ACTIVE,YEAR_RETIRED,ROUTE_SUBTYPE,ROAD_NUM,SRI_OLD,created_user,created_date,last_edited_user,last_edited_date,Shape_Length,geometry
0,00000001__A100080,0.00,0.171000,NaN,FR US 1 NB to RT 33,0.171000,00000001__,0.800000,0.80,Y,NaT,NaT,8,NaN,00000001__A100080,NaN,NaT,NaN,NaT,1286.731049,"MULTILINESTRING ((419915.520 503314.580, 41994..."
1,00000001__A100130,0.00,0.097000,NaN,FR US 1 NB to PERRY ST,0.097000,00000001__,1.300000,1.30,Y,NaT,NaT,8,NaN,00000001__A100130,NaN,NaT,NaN,NaT,737.881509,"MULTILINESTRING ((419946.130 506185.230, 41994..."
2,00000001__A100250,0.00,0.111000,NaN,FR US 1 NB to MULBERRY ST,0.111000,00000001__,2.500000,2.50,Y,NaT,NaT,8,NaN,00000001__A100250,NaN,NaT,NaN,NaT,1034.788477,"MULTILINESTRING ((423852.380 511259.420, 42388..."
3,00000001__A100360,0.00,0.105000,NaN,FR US 1 NB to CO 616,0.105000,00000001__,3.600000,3.60,Y,NaT,NaT,8,NaN,00000001__A100360,NaN,NaT,NaN,NaT,798.048702,"MULTILINESTRING ((428120.450 515110.790, 42813..."
4,00000001__A100760,0.00,0.022000,NaN,US 1 NB to QUAKERBRIDGE MALL,0.022000,00000001__,7.600000,7.60,Y,NaT,NaT,8,NaN,00000001__A100760,NaN,NaT,NaN,NaT,258.335463,"MULTILINESTRING ((440305.750 531297.550, 44031..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105819,00000007__,0.00,5.290000,South to North,NJ 7,5.290000,00000007__,5.290000,0.00,Y,NaT,NaT,3,7,00000007__,NaN,NaT,NaN,NaT,27958.093338,"MULTILINESTRING ((609998.074 694473.708, 60994..."
105820,00000007__,5.99,10.100000,South to North,NJ 7,4.110000,00000007__,10.100000,5.99,Y,NaT,NaT,3,7,00000007__,NaN,NaT,NaN,NaT,21682.406056,"MULTILINESTRING ((587795.430 709676.650, 58786..."
105821,11021370__,0.00,1.020000,NaN,SILVA ST,1.020000,11021370__,1.020000,0.00,Y,NaT,NaT,7,NaN,11021370,NaN,NaT,NaN,NaT,5369.687387,"MULTILINESTRING ((404068.510 517974.310, 40415..."
105822,13281733__,0.00,0.180000,NaN,SILVER LEAF DR,0.180000,13281733__,0.180000,0.00,Y,NaT,NaT,7,NaN,NaN,NaN,NaT,NaN,NaT,970.580004,"MULTILINESTRING ((558889.766 532823.114, 55895..."
105823,00000046__,0.00,72.089996,West to East,US 46,72.089996,00000046__,72.089996,0.00,Y,NaT,NaT,2,46,00000046,NaN,NaT,NaN,NaT,381195.934234,"MULTILINESTRING ((327182.190 764284.530, 32734..."

In [6]:
r2.crs

<Projected CRS: EPSG:3424>
Name: NAD83 / New Jersey (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: United States (USA) - New Jersey - counties of Atlantic; Bergen; Burlington; Camden; Cape May; Cumberland; Essex; Gloucester; Hudson; Hunterdon; Mercer; Middlesex; Monmouth; Morris; Ocean; Passaic; Salem; Somerset; Sussex; Union; Warren.
- bounds: (-75.6, 38.87, -73.88, 41.36)
Coordinate Operation:
- name: SPCS83 New Jersey zone (US Survey feet)
- method: Transverse Mercator
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [7]:
r2.crs.name

'NAD83 / New Jersey (ftUS)'

In [8]:
r1.columns[1:] == r2.columns

array([ True,  True,  True,  True,  True, False,  True, False, False,
        True, False, False, False,  True,  True, False, False, False,
       False, False,  True])

### Compare Roadway Network SHP vs GDB

In [9]:
r11 = r1.copy().drop(columns='OBJECTID')
r11.columns = r2.columns.copy()
r11 == r2

,SRI,MP_START,MP_END,DIRECTION,SLD_NAME,MEASURED_LENGTH,PARENT_SRI,PARENT_MP_START,PARENT_MP_END,ACTIVE,YEAR_ACTIVE,YEAR_RETIRED,ROUTE_SUBTYPE,ROAD_NUM,SRI_OLD,created_user,created_date,last_edited_user,last_edited_date,Shape_Length,geometry
0,True,True,False,False,True,False,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False
1,True,True,False,False,True,False,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False
2,True,True,False,False,True,False,True,True,True,True,False,False,True,False,True,False,False,False,False,False,False
3,True,True,False,False,False,False,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False
4,True,True,False,False,True,False,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105819,True,True,False,True,True,False,True,False,True,True,False,False,True,True,True,False,False,False,False,False,False
105820,True,False,False,True,True,False,True,False,False,True,False,False,True,True,True,False,False,False,False,False,False
105821,True,True,False,False,True,False,True,False,True,True,False,False,True,False,True,False,False,False,False,False,False
105822,True,True,False,False,True,False,True,False,True,True,False,False,True,False,False,False,False,False,False,False,False
105823,True,True,False,True,True,False,True,False,True,True,False,False,True,True,True,False,False,False,False,False,False

In [10]:
all_sris = r1.SRI.unique()
all_sris

array(['00000001__A100080', '00000001__A100130', '00000001__A100250', ...,
       '11021370__', '13281733__', '00000046__'], dtype=object)

In [11]:
len(all_sris)

105092