In [1]:
from utz import *

## NJSP SRIs/MPs

In [2]:
njsp = read_parquet('data/crashes.pqt')
njsp

,CCODE,CNAME,MCODE,MNAME,HIGHWAY,LOCATION,FATALITIES,INJURIES,STREET,FATAL_D,FATAL_P,FATAL_T,FATAL_B,dt
ACCID,,,,,,,,,,,,,,
1703,01,Atlantic,0102,Atlantic City,446,State/Interstate Authority 446 S MP 1,1.0,1.0,None,NaN,NaN,NaN,NaN,2008-01-01 00:35:00
1681,09,Hudson,0910,Union City,None,Bergenline Ave S MP 0 at 6th St,1.0,NaN,Bergenline Ave,NaN,NaN,NaN,NaN,2008-01-01 04:11:00
1659,04,Camden,0415,Gloucester Twsp,42,State Highway 42 N MP 8.2,1.0,1.0,None,NaN,NaN,NaN,NaN,2008-01-01 06:46:00
1661,20,Union,2004,Elizabeth City,624,County 624 W MP 2.2 at Ikea Dr,1.0,1.0,None,NaN,NaN,NaN,NaN,2008-01-01 12:29:00
1811,07,Essex,0716,Nutley Town,648,County 648 E MP .87 at Franklin Ave,1.0,NaN,None,NaN,NaN,NaN,NaN,2008-01-01 18:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12421,02,Bergen,0246,Paramus Boro,None,None,1.0,0.0,None,1.0,0.0,0.0,0.0,2023-04-15 02:58:00
12418,04,Camden,0421,Lawnside Boro,295,Interstate 295 MP 30.5,1.0,NaN,None,1.0,0.0,0.0,0.0,2023-04-17 14:07:00
12420,12,Middlesex,1219,Sayreville Boro,9,State Highway 9,1.0,NaN,None,0.0,0.0,1.0,0.0,2023-04-18 03:21:00
12423,12,Middlesex,1219,Sayreville Boro,35,35,1.0,NaN,None,0.0,0.0,1.0,0.0,2023-04-19 20:08:00
12424,03,Burlington,0329,Pemberton Boro,687,County 687 MP .25,1.0,NaN,None,1.0,0.0,0.0,0.0,2023-04-20 17:16:00

In [3]:
njsp.HIGHWAY.iloc[:10].tolist()

['446', None, '42', '624', '648', '95', '544', '620', '28', '670']

In [4]:
locs = sxs(
    njsp.HIGHWAY.rename('Highway'),
    njsp.LOCATION.rename('Location'),
    njsp.LOCATION.str.extract(r'^(?P<Road>.*?)(?: MP (?P<MP>\d*(?:\.\d+)?))?(?: at (?P<At>.*))?$').astype({'MP': float})
)
locs

,Highway,Location,Road,MP,At
ACCID,,,,,
1703,446,State/Interstate Authority 446 S MP 1,State/Interstate Authority 446 S,1.00,NaN
1681,None,Bergenline Ave S MP 0 at 6th St,Bergenline Ave S,0.00,6th St
1659,42,State Highway 42 N MP 8.2,State Highway 42 N,8.20,NaN
1661,624,County 624 W MP 2.2 at Ikea Dr,County 624 W,2.20,Ikea Dr
1811,648,County 648 E MP .87 at Franklin Ave,County 648 E,0.87,Franklin Ave
...,...,...,...,...,...
12421,None,None,NaN,NaN,NaN
12418,295,Interstate 295 MP 30.5,Interstate 295,30.50,NaN
12420,9,State Highway 9,State Highway 9,NaN,NaN
12423,35,35,35,NaN,NaN
12424,687,County 687 MP .25,County 687,0.25,NaN

In [5]:
njsp[locs.Road.isna()]

,CCODE,CNAME,MCODE,MNAME,HIGHWAY,LOCATION,FATALITIES,INJURIES,STREET,FATAL_D,FATAL_P,FATAL_T,FATAL_B,dt
ACCID,,,,,,,,,,,,,,
11914,02,Bergen,0215,Englewood City,None,None,1.0,NaN,None,0.0,0.0,1.0,0.0,2022-06-18 07:00:00
12421,02,Bergen,0246,Paramus Boro,None,None,1.0,0.0,None,1.0,0.0,0.0,0.0,2023-04-15 02:58:00

In [6]:
(~locs.isna()).sum()

Highway     6934
Location    8548
Road        8548
MP          7951
At          1386
dtype: int64

In [7]:
locs[locs.MP.isna()]

,Highway,Location,Road,MP,At
ACCID,,,,,
8410,None,Mola Blvd S at Washington Ave,Mola Blvd S,NaN,Washington Ave
8527,None,North Mill Rd S,North Mill Rd S,NaN,NaN
8581,None,Christopher Columbus Dr W,Christopher Columbus Dr W,NaN,NaN
8761,None,East Maple Ave SW,East Maple Ave SW,NaN,NaN
8801,None,Broadlane Rd N,Broadlane Rd N,NaN,NaN
...,...,...,...,...,...
12412,None,Hartford Dr,Hartford Dr,NaN,NaN
12415,None,Bergenline Ave,Bergenline Ave,NaN,NaN
12421,None,None,NaN,NaN,NaN
12420,9,State Highway 9,State Highway 9,NaN,NaN
12423,35,35,35,NaN,NaN