Scratchwork: writing NJDOT data table parquets, and some ad hoc analysis

Writing can now be done via standalone CLIs in e.g. [vehicles.py](./vehicles.py)

In [1]:
from utz import *
from njdot import crashes, drivers, occupants, pedestrians, vehicles
from njdot.load import pk_base, INDEX_NAME, normalize, print_hists

In [2]:
%%time
v = vehicles.load()#write_pqt=True)
v

Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/vehicles.parquet

CPU times: user 3.06 s, sys: 488 ms, total: 3.55 s
Wall time: 1.94 s

,crash_id,vn,ins_co,owner_state,make,model,color,vy,state,rm_by,imp_loc,dmg_loc,type,cargo_type,cir1,cir2,dir,act,ev1,ev2,ev3,ev4,oversize,hit_run,departure,dmg,ev
id,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0,1,426,NJ,NISSAN MAXIMA,,BUR,1991,NJ,<NA>,8,7,1,<NA>,25,<NA>,1,3,26,<NA>,<NA>,<NA>,<NA>,False,1,<NA>,<NA>
1,0,2,989,NJ,LINCOLN TOWNCAR,,BK,1996,NJ,2,12,12,6,0,4,<NA>,2,3,26,<NA>,<NA>,<NA>,0,False,1,<NA>,<NA>
2,1,1,962,NJ,TOYOTA 4DR,,GRN,1997,NJ,1,11,<NA>,1,<NA>,25,<NA>,3,10,28,<NA>,<NA>,<NA>,<NA>,False,1,<NA>,<NA>
3,1,2,<NA>,,,,,0,,<NA>,0,0,5,0,2,<NA>,1,1,26,<NA>,<NA>,<NA>,0,False,<NA>,<NA>,<NA>
4,2,1,85,NJ,CHEVY CORSICA,,PUR,1996,NJ,3,8,15,1,<NA>,25,<NA>,3,1,26,1,<NA>,<NA>,<NA>,False,6,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450821,6077299,2,962,NJ,HYUNDAI,SONATA,BK,2012,NJ,2,6,6,1,<NA>,25,<NA>,4,3,26,<NA>,<NA>,<NA>,<NA>,False,1,3,26
11450822,6077300,1,134,NJ,SUBARU,FORRESTER,SL,2015,NJ,1,11,11,4,<NA>,57,<NA>,3,1,24,<NA>,<NA>,<NA>,2,False,1,3,24
11450823,6077301,1,148,NJ,TOYOTA,COROLLA,BK,2009,NJ,1,11,11,1,<NA>,57,<NA>,2,1,24,<NA>,<NA>,<NA>,<NA>,False,1,3,24
11450824,6077302,1,134,NJ,HYUNDAI,SONATA,BL,2013,NJ,1,1,1,1,<NA>,4,<NA>,4,1,26,<NA>,<NA>,<NA>,<NA>,False,1,2,26
11450825,6077302,2,962,NJ,JEEP,GRAND CHEROKEE,BL,2017,NJ,2,11,11,1,<NA>,25,<NA>,3,1,26,<NA>,<NA>,<NA>,<NA>,False,1,2,26

In [11]:
%%time
c = crashes.load()#write_pqt=True)
c

Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet

CPU times: user 5.01 s, sys: 1.41 s, total: 6.42 s
Wall time: 4.09 s

,dt,year,cc,mc,case,pdc,pdn,station,tk,ti,pk,pi,severity,Intersection,alcohol,hazmat,crash_type,tv,road,road_direction,route,Route Suffix,sri,mp,road_system,road_character,road_surface,surface_condition,light_condition,env_condition,road_divided,ttcz,cross_street_distance,Unit Of Measurement,Direction From Cross Street,cross_street,Is Ramp,ramp_route,Ramp To/From Route Direction,speed_limit,speed_limit_cross,olat,olon,cell_phone,Other Property Damage,Reporting Badge No.,horizontal_alignment,road_grade,first_harmful_event,occ,reason,ilon,ilat,icc
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2001-12-21 18:34:00,2001,1,1,#2001-17846,01,Absecon City,MUNICIPAL COMP?,0,0,0,0,p,B,False,False,3,2,CALDERON AVENUE,,<NA>,,,NaN,7,2,2,1,6,1,5,1,100,FE,N,RT 30,,,,25,<NA>,NaN,NaN,False,NEVER SAW V-1 MINOR DAMAGE - NO INJURIES REPOR...,830,<NA>,<NA>,<NA>,<NA>,No MP,NaN,NaN,<NA>
1,2001-01-01 09:30:00,2001,1,1,01-00029,1,Absecon,,0,0,0,0,p,B,False,False,6,2,RITZ DRIVE,,<NA>,,,NaN,7,1,2,3,6,1,5,1,<NA>,,,,,,,25,<NA>,NaN,NaN,False,,836,<NA>,<NA>,<NA>,<NA>,No MP,NaN,NaN,<NA>
2,2001-04-10 14:44:00,2001,1,1,01-004615,1,Absecon,,0,4,0,0,i,I,False,False,3,2,MORTON AVENUE,,<NA>,,,NaN,7,1,2,1,1,1,5,1,<NA>,AT,,NEW YORK AVENUE,,,,25,<NA>,NaN,NaN,False,,836,<NA>,<NA>,<NA>,<NA>,No MP,NaN,NaN,<NA>
3,2001-04-15 13:56:00,2001,1,1,01-004880,1,Absecon,,0,1,0,0,i,B,False,False,1,2,RT 30,,30,,00000030__,51.099998,2,1,2,1,1,1,5,1,<NA>,,,,,,,45,<NA>,NaN,NaN,False,WITNESS-PETRIA GIBSON AND ANGELO HERSH,886,<NA>,<NA>,<NA>,<NA>,None,-74.512308,39.432705,1
4,2001-04-16 10:29:00,2001,1,1,01-004912,1,Absecon,,0,0,0,0,p,I,False,False,1,2,CR 651,,651,,,NaN,5,2,2,2,1,2,5,1,<NA>,AT,,CR 630,,,,35,<NA>,NaN,NaN,False,*BETH VEHICLES-RELIANCE INSURANCE CO.(215)864-...,836,<NA>,<NA>,<NA>,<NA>,No MP,NaN,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6077298,2021-05-26 21:08:00,2021,21,23,B150-2021-00117A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,I,False,False,11,1,WARREN COUNTY 620,N,620,,21000620__,0.000000,5,<NA>,2,1,6,1,5,1,<NA>,AT,,ROUTE 519 / S BRIDGEVILLE RD,,,,50,50,40.80707,-75.07559,False,Damage to 10ft of Country road guardrail.,7837,2,4,46,21,None,-75.075607,40.807156,21
6077299,2021-05-25 07:26:00,2021,21,23,B150-2021-00118A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,I,False,False,1,2,MANUNKA CHUNK RD / UPPER SEREPTA RD **,W,<NA>,,21231034__,1.730000,7,<NA>,2,1,1,1,5,1,<NA>,AT,,MASSENATTS RD,,,,40,50,40.84466,-75.05549,False,,8610,1,4,26,21,None,-75.056122,40.844345,21
6077300,2021-06-03 20:17:00,2021,21,23,B150-2021-00128A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,B,False,False,12,1,ROUTE 519,S,519,,00000519__,44.000000,5,<NA>,2,2,5,4,5,1,<NA>,,,,,,,50,<NA>,40.80564,-75.07627,False,,8514,3,4,24,21,None,-75.015149,40.863108,21
6077301,2021-06-06 00:00:00,2021,21,23,B150-2021-00130A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,B,False,False,12,1,US 46,E,46,,00000046__,7.500000,2,<NA>,2,1,7,1,5,1,<NA>,,,,,,,50,<NA>,40.84149,-75.04968,False,,8365,1,4,24,21,None,-75.046404,40.840421,21
6077302,2021-06-06 19:33:00,2021,21,23,B150-2021-00132A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,B,False,False,3,2,FIELDSTONE CT,W,<NA>,,,NaN,7,<NA>,5,1,1,1,5,1,<NA>,,,130 COUNTY ROAD 519,,,,15,5,40.81220,-75.04940,False,,8395,1,4,26,21,No MP,NaN,NaN,<NA>

In [12]:
vm = v.merge(c.year, how='left', left_on='crash_id', right_index=True)
vm

,crash_id,vn,ins_co,owner_state,make,model,color,vy,state,rm_by,imp_loc,dmg_loc,type,cargo_type,cir1,cir2,dir,act,ev1,ev2,ev3,ev4,oversize,hit_run,departure,dmg,ev,year
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0,1,426,NJ,NISSAN MAXIMA,,BUR,1991,NJ,<NA>,8,7,1,<NA>,25,<NA>,1,3,26,<NA>,<NA>,<NA>,<NA>,False,1,<NA>,<NA>,2001
1,0,2,989,NJ,LINCOLN TOWNCAR,,BK,1996,NJ,2,12,12,6,0,4,<NA>,2,3,26,<NA>,<NA>,<NA>,0,False,1,<NA>,<NA>,2001
2,1,1,962,NJ,TOYOTA 4DR,,GRN,1997,NJ,1,11,<NA>,1,<NA>,25,<NA>,3,10,28,<NA>,<NA>,<NA>,<NA>,False,1,<NA>,<NA>,2001
3,1,2,<NA>,,,,,0,,<NA>,0,0,5,0,2,<NA>,1,1,26,<NA>,<NA>,<NA>,0,False,<NA>,<NA>,<NA>,2001
4,2,1,85,NJ,CHEVY CORSICA,,PUR,1996,NJ,3,8,15,1,<NA>,25,<NA>,3,1,26,1,<NA>,<NA>,<NA>,False,6,<NA>,<NA>,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450821,6077299,2,962,NJ,HYUNDAI,SONATA,BK,2012,NJ,2,6,6,1,<NA>,25,<NA>,4,3,26,<NA>,<NA>,<NA>,<NA>,False,1,3,26,2021
11450822,6077300,1,134,NJ,SUBARU,FORRESTER,SL,2015,NJ,1,11,11,4,<NA>,57,<NA>,3,1,24,<NA>,<NA>,<NA>,2,False,1,3,24,2021
11450823,6077301,1,148,NJ,TOYOTA,COROLLA,BK,2009,NJ,1,11,11,1,<NA>,57,<NA>,2,1,24,<NA>,<NA>,<NA>,<NA>,False,1,3,24,2021
11450824,6077302,1,134,NJ,HYUNDAI,SONATA,BL,2013,NJ,1,1,1,1,<NA>,4,<NA>,4,1,26,<NA>,<NA>,<NA>,<NA>,False,1,2,26,2021
11450825,6077302,2,962,NJ,JEEP,GRAND CHEROKEE,BL,2017,NJ,2,11,11,1,<NA>,25,<NA>,3,1,26,<NA>,<NA>,<NA>,<NA>,False,1,2,26,2021

In [47]:
pd.crosstab(
    ~v.cir1.isna().rename('has_cir1'),
    ~v.cir2.isna().rename('has_cir2'),
)

has_cir2    False    True
has_cir1
False      236576    10424
True      9611038  1592788

In [35]:
has_ev  = ~v.ev .isna().rename('has_ev' )
has_ev1 = ~v.ev1.isna().rename('has_ev1')
has_ev2 = ~v.ev2.isna().rename('has_ev2')
has_ev3 = ~v.ev3.isna().rename('has_ev3')
has_ev4 = ~v.ev4.isna().rename('has_ev4')
has_evs = (has_ev1 | has_ev2 | has_ev3 | has_ev4 ).rename('has_evs')
evs = sxs(
    has_ev1,
    has_ev2,
    has_ev3,
    has_ev4,
    vm.year,
)
g = evs.groupby(['has_ev1', 'has_ev2', 'has_ev3', 'has_ev4'])
gy = g['year']
sxs(
    g.size().rename('num'),
    gy.min().rename('min'),
    gy.max().rename('max'),
)

                                      num   min   max
has_ev1 has_ev2 has_ev3 has_ev4
False   False   False   False       56727  2001  2021
                        True          278  2001  2021
                True    False         122  2001  2021
                        True           34  2001  2021
        True    False   False        1402  2001  2021
                        True           11  2006  2021
                True    False         159  2001  2020
                        True           81  2001  2021
True    False   False   False    10074131  2001  2021
                        True         6851  2001  2021
                True    False        2783  2001  2021
                        True         1395  2001  2021
        True    False   False      803096  2001  2021
                        True         1132  2001  2021
                True    False      307101  2001  2021
                        True       195523  2001  2021

In [38]:
vev = vm[~vm.ev.isna()]
sxs(
    vev.ev == vev.ev1,
    vev.ev == vev.ev2,
    vev.ev == vev.ev3,
    vev.ev == vev.ev4,
).sum()

0    1980304
1     143606
2      57182
3      37396
dtype: Int64

In [46]:
%%time
vev.apply(lambda r: ' '.join(
    '   ' if isna(r[f'ev{i}']) else f'{i}✅' if r.ev == r[f'ev{i}'] else f'{i}❌'
    for i in range(1, 5)
), axis=1).value_counts().sort_index()

CPU times: user 26.9 s, sys: 544 ms, total: 27.5 s
Wall time: 28 s

            4✅         20
        3✅             14
        3✅ 4✅           5
        3❌              1
        3❌ 4✅           1
    2✅                 87
    2✅     4✅           2
    2✅ 3✅               4
    2✅ 3✅ 4✅           13
    2✅ 3❌               2
    2✅ 3❌ 4❌            1
    2❌                  1
    2❌     4✅           1
    2❌ 3✅               1
    2❌ 3✅ 4✅            1
    2❌ 3❌ 4✅            1
1✅                1832198
1✅         4✅        1750
1✅         4❌         740
1✅     3✅             535
1✅     3✅ 4✅           78
1✅     3✅ 4❌            4
1✅     3❌             317
1✅     3❌ 4✅           10
1✅     3❌ 4❌          314
1✅ 2✅               44830
1✅ 2✅     4✅           69
1✅ 2✅     4❌           28
1✅ 2✅ 3✅             1383
1✅ 2✅ 3✅ 4✅          9059
1✅ 2✅ 3✅ 4❌           161
1✅ 2✅ 3❌             1269
1✅ 2✅ 3❌ 4✅           127
1✅ 2✅ 3❌ 4❌           870
1✅ 2❌               55044
1✅ 2❌     4✅           32
1✅ 2❌     4❌          119
1✅ 2❌ 3✅             1594
1✅ 2❌ 3✅ 4✅           190
1✅ 2❌ 3✅ 4❌           386
1✅ 2❌ 3❌            17189
1✅ 2❌ 3❌ 4✅           620
1✅ 2❌ 3❌ 4❌         11388
1❌                    117
1❌         4✅          56
1❌         4❌           1
1❌     3✅              20
1❌     3✅ 4✅          123
1❌     3❌ 4✅            9
1❌ 2✅               55562
1❌ 2✅     4✅           44
1❌ 2✅     4❌           27
1❌ 2✅ 3✅             2353
1❌ 2✅ 3✅ 4✅         14290
1❌ 2✅ 3✅ 4❌           454
1❌ 2✅ 3❌             8148
1❌ 2✅ 3❌ 4✅           977
1❌ 2✅ 3❌ 4❌          3846
1❌ 2❌                  16
1❌ 2❌     4✅            7
1❌ 2❌ 3✅            20445
1❌ 2❌ 3✅ 4✅          1367
1❌ 2❌ 3✅ 4❌          4702
1❌ 2❌ 3❌                9
1❌ 2❌ 3❌ 4✅          8544
1❌ 2❌ 3❌ 4❌             6
Name: count, dtype: int64

In [30]:
pd.crosstab(has_ev, has_evs)

has_evs  False    True
has_ev
False    56727  9292517
True         0  2101582

In [31]:
vm17 = vm[vm.year >= 2017]
(~vm17.ev.isna()).value_counts()

ev
True     2101582
False     290300
Name: count, dtype: int64

In [21]:
vm[vm.ev1.isna() & ~vm.ev2.isna()].year.value_counts().sort_index()

year
2001     50
2002     29
2003     17
2004     15
2005      7
2006    265
2007    200
2008    145
2009    167
2010    171
2011    106
2012     60
2013     76
2014     49
2015     47
2016     46
2017     73
2018     46
2019     36
2020     26
2021     22
Name: count, dtype: int64

In [17]:
ev = vm[~vm.ev.isna()]
pd.crosstab(ev.ev == ev.ev1, ev.ev == ev.ev2)

col_0  False  True
row_0
False  35096  85701
True   86562  57796

In [16]:
pd.crosstab(vm.ev, vm.year, dropna=False).replace(0, '')

year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
ev,,,,,,,,,,,,,,,,,,,,,
0,,,,,,,,,,,,,,,,,1878,1356,3604,4810,3483
1,,,,,,,,,,,,,,,,,2122,2045,1924,1818,2050
2,,,,,,,,,,,,,,,,,72,75,69,67,80
3,,,,,,,,,,,,,,,,,23,33,29,22,49
4,,,,,,,,,,,,,,,,,61,66,44,50,46
9,,,,,,,,,,,,,,,,,196,243,210,192,269
11,,,,,,,,,,,,,,,,,198,177,186,153,155
12,,,,,,,,,,,,,,,,,603,539,475,285,311
19,,,,,,,,,,,,,,,,,206,199,216,150,153
21,,,,,,,,,,,,,,,,,1048,890,1099,1088,1227
22,,,,,,,,,,,,,,,,,2390,2259,2242,1506,1716
23,,,,,,,,,,,,,,,,,9,14,10,7,21
24,,,,,,,,,,,,,,,,,9142,9889,9926,9125,8120
25,,,,,,,,,,,,,,,,,433,442,529,512,552
26,,,,,,,,,,,,,,,,,347940,373809,400534,258345,324486
27,,,,,,,,,,,,,,,,,93,94,103,51,99
28,,,,,,,,,,,,,,,,,26953,29464,32298,25447,32582
29,,,,,,,,,,,,,,,,,60,56,45,48,36
30,,,,,,,,,,,,,,,,,1630,1541,1604,1070,1261
39,,,,,,,,,,,,,,,,,1878,2235,2184,1915,2193
41,,,,,,,,,,,,,,,,,72,61,121,84,82
42,,,,,,,,,,,,,,,,,296,328,323,319,427
43,,,,,,,,,,,,,,,,,73,74,82,52,62
44,,,,,,,,,,,,,,,,,17,19,18,13,13
45,,,,,,,,,,,,,,,,,85,106,108,77,105
46,,,,,,,,,,,,,,,,,3914,4296,3929,3689,3591
47,,,,,,,,,,,,,,,,,563,612,584,529,606
48,,,,,,,,,,,,,,,,,2576,2795,2523,2700,2673
49,,,,,,,,,,,,,,,,,106,139,139,105,139
50,,,,,,,,,,,,,,,,,937,942,1095,850,900
51,,,,,,,,,,,,,,,,,535,582,612,466,575
52,,,,,,,,,,,,,,,,,4522,4825,4633,3938,4397
53,,,,,,,,,,,,,,,,,679,790,646,581,594
54,,,,,,,,,,,,,,,,,865,905,954,832,846
55,,,,,,,,,,,,,,,,,39,51,37,23,41
56,,,,,,,,,,,,,,,,,2362,2428,2544,2319,2573
57,,,,,,,,,,,,,,,,,420,523,452,399,411
58,,,,,,,,,,,,,,,,,414,441,428,350,447
59,,,,,,,,,,,,,,,,,706,742,739,620,687
60,,,,,,,,,,,,,,,,,3609,4062,3611,3173,3344
61,,,,,,,,,,,,,,,,,459,502,516,425,448
62,,,,,,,,,,,,,,,,,392,383,454,361,420
69,,,,,,,,,,,,,,,,,2708,3293,3409,2954,3362
99,,,,,,,,,,,,,,,,,241,319,367,273,333
<NA>,590889,606500,609439,609400,594335,555026,575330,567182,562943,562975,552103,535622,546015,547103,512028,532054,103299,83642,52698,30432,20229

In [15]:
pd.crosstab(vm.ev, vm.ev1, dropna=False).replace(0, '')

ev1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,19,21,22,23,24,25,26,27,28,29,30,39,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,69,99,<NA>
ev,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,621,7,1,2,,16,6,2,1,2,,4,9,3,,,8,26,189,,,6,12168,2,1492,,5,51,1,3,1,,,35,,27,19,12,7,15,11,32,,51,8,1,29,14,,1,200,29,14
1,2,1915,,,14,2242,1191,37,382,34,17,9,2,88,5,4,28,2,2,,29,6,2249,4,281,5,4,45,5,10,1,1,1,248,47,237,11,15,2,37,8,9,2,559,11,37,5,25,9,3,61,15,3
2,,2,101,,,41,25,1,3,,,,,5,,,2,,2,,3,,119,,10,,1,8,,,,,2,8,,8,1,,,,,1,,14,,,,1,1,,2,1,1
3,,1,,74,,11,6,,3,,,,,,2,,1,,,,,,39,,1,,,1,,,,,,2,,,,1,,,,1,,6,,2,,,,,4,,1
4,1,,,,142,39,29,,2,1,,,,2,4,,1,,,,2,,29,,,,,2,,,,,,4,1,1,,,,,,1,,3,,,,1,,,1,,1
9,,1,,,,2,3,,1,1026,6,,,31,,,1,,,,,,27,,,,1,,,5,,,,,,,,,,,,1,,4,,,,,,,1,,
11,1,40,,,,51,27,1,18,,,507,,11,2,,14,1,1,,11,4,124,,2,,,6,,,,,,3,,1,1,,,1,,,,19,3,,,,1,,10,9,
12,,,,,,1,,,1,1,1,,2136,16,,,,,,,,,31,,,2,1,17,,,,,,,,1,,,,,,,,2,,,,,,,3,,
19,,1,,,1,12,7,2,4,1,2,,,37,1,1,817,,,,,,27,,4,,,4,,,,,,,,,,,,,,,,,,,,,,,3,,
21,,,,,,10,1,1,18,,,1,,,,,,5081,,,,,229,,3,,,,,,,,,,,,,,,,,,,5,,,,,,,,,3
22,,,,,,55,3,1,15,,,3,,3,10,1,3,2,9263,,1,,663,1,40,2,1,7,,,,,,,,4,,1,,,,,,24,,,1,1,,,4,3,1
23,,,,,,,1,,,,,,,,,,,,,55,,,5,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
24,,,,,,3,2,,10,,,,1,,,,,2,,,46141,3,20,,1,,16,,,,,,,,,,,,,,,,,1,,,,,,,,1,1
25,,,,,,,1,,,,,,,,,,,,1,,,2454,9,,,,,,,,,,,,,,,,,2,,,,,,,1,,,,,,
26,9,36,8,20,31,810,695,329,4107,34,22,36,14,282,34,119,214,44,74,,86,19,1696155,20,641,5,31,59,2,8,,,5,187,6,288,11,13,17,14,,13,1,446,1,1,3,10,7,1,32,10,104
27,,,,,,2,4,2,7,,,,,,,,1,,,,,,68,350,1,,,,,,,,,,,1,,,,1,,,,2,1,,,,,,,,
28,6,9,5,1,2,585,161,18,198,10,15,12,2,113,54,5,22,1,23,,1,,3573,1,141342,1,6,31,,,,,,6,2,2,4,14,6,30,3,13,,353,1,1,24,17,12,3,38,3,15
29,,,,,,22,15,,2,,,,1,1,,,,,,,,,12,,3,181,1,1,,,,,,,,1,2,,,,,,,1,,,,,,,2,,
30,,,,,,4,,1,1,3,6,,13,9,,,2,,2,,,1,274,3,78,,6701,2,,,,,,,,,,,2,,,1,,,,,1,,,,,,2
39,,1,1,1,2,405,117,3,40,5,4,1,20,15,2,1,5,,6,,2,3,283,4,17,4,12,9330,,,,,,1,1,2,1,2,1,1,,,,100,,1,,,1,,6,2,2
41,,,,,,24,12,1,8,,,,,3,,,1,,,,,,121,,20,,,,222,,,,,1,,2,,1,,,,,,4,,,,,,,,,
42,,,,,,8,2,,,4,,,,,,,,,,,,1,6,,,,,,,1663,,,,1,,,,2,,,,,,5,,,,,,,1,,
43,,,,,,59,26,,9,,,,,1,,,2,,,,,,19,,,,,,,,162,,1,6,,4,,,,1,1,,,50,,,1,,,,1,,
44,,,,,,29,8,,8,,,,,,,,,,,,1,,4,,1,,,,,,,21,,1,,,,1,,1,,,,5,,,,,,,,,
45,,,,,2,77,27,3,27,,1,,,7,2,,3,,,,1,,17,,,,,2,,1,,,250,3,,3,,,,,,,,52,,1,,,,,2,,
46,,10,1,1,28,4010,4232,52,465,9,12,4,6,214,8,3,56,,1,,17,2,1669,2,6,5,6,57,1,,1,,5,7672,10,129,3,22,,2,4,4,2,658,2,7,,,,,12,9,
47,,,,,2,953,374,7,68,,,2,,19,,1,4,,,,11,2,135,,2,1,2,1,,1,,,,11,1124,8,1,7,2,1,,5,,144,1,1,1,,3,,,,
48,,4,,1,8,869,2898,26,54,1,2,1,,143,1,2,42,,,,11,2,1527,1,6,3,7,47,3,,1,2,1,120,13,7275,8,6,,2,2,4,,156,1,1,3,1,,,8,4,
49,,,,,,71,41,4,6,,,,,2,1,,,,,,,,27,,,,,3,1,,,,,3,,1,443,1,,,,,,22,,,1,,,,1,,
50,,1,1,,,1485,624,60,138,1,1,2,,19,9,,6,,2,,5,1,100,,3,,,10,,,,,1,2,,9,5,1279,3,1,,4,1,940,1,2,,2,2,,3,1,
51,,,,1,1,430,117,13,34,2,1,,,4,,,1,,,,1,,194,,3,,2,2,,,,,,1,,11,2,9,1307,3,1,4,1,617,,1,1,,1,,5,,
52,,4,,,5,8878,1332,88,1348,7,23,4,5,108,20,3,36,1,,,52,3,939,,51,1,3,27,2,,,,,26,5,20,2,71,9,5601,3,30,5,3432,10,14,11,15,42,12,67,,
53,,,,,3,952,215,13,35,2,3,,,10,3,,1,,,,,,99,,3,,1,2,,,,,,9,,9,,13,1,2,1370,5,2,523,,1,1,2,1,,8,1,
54,,1,1,1,2,899,287,19,99,1,3,2,,14,3,,11,,3,,3,2,134,,8,,,3,,,,,,5,2,8,,6,,7,,2156,,685,2,9,8,2,1,2,11,2,
55,,,,,,101,23,2,12,,,,,,,,,,,,,,7,,,,,,,,,,,1,,,,1,,,,,31,10,1,1,,,1,,,,
56,,9,,1,2,1855,942,46,426,3,6,2,1,79,5,,48,1,1,,7,2,548,,28,,1,20,,,,,,9,,19,1,10,,9,,6,1,8115,2,1,1,1,4,,9,4,1
57,,1,,,,1074,396,8,172,,1,1,,23,4,1,4,,1,,8,2,65,,1,1,,1,,,,1,1,7,,6,,5,,2,,3,,88,315,2,1,3,3,,2,2,
58,,,,,,933,431,16,201,,1,,,26,7,,4,,,,5,,84,,3,1,,8,,,,,,8,2,5,,4,1,3,,3,,101,4,227,,1,1,,,,
59,,1,,1,1,828,314,12,176,2,3,3,,15,12,,9,,,,3,1,81,,24,1,,1,1,,,,,2,2,2,3,12,3,2,1,9,1,548,6,2,1389,7,3,1,10,2,
60,,12,,,7,7216,2891,91,1499,2,5,3,12,93,28,3,52,,2,,74,8,754,,50,,2,28,1,,,,3,68,11,20,6,53,4,19,2,20,4,1930,21,38,28,2663,33,3,36,1,3
61,,1,,,1,1077,169,6,128,,1,,,14,4,,1,,,,1,2,12,,1,,,3,,,,,,,,,,3,,,1,2,2,218,3,,1,2,693,,3,1,
62,,2,,1,,486,94,4,47,,,1,1,5,1,,2,,,,3,,51,,2,,,1,,,,,,,,,,10,1,5,1,9,2,477,,,2,1,5,787,8,1,
69,,3,1,,,2161,653,38,388,6,11,8,1,110,38,6,26,,3,,9,2,438,1,62,4,,20,2,,,,,12,1,18,7,37,7,17,4,27,1,1435,13,19,34,17,10,2,10069,3,2
99,2,2,1,,,103,33,4,13,4,2,2,10,19,2,,6,,2,,1,,185,,15,2,,4,,,,,,3,,1,,,3,,,,,26,1,,,1,,,7,1078,1
<NA>,3793,8799,314,271,837,136485,68383,7130,1578,3797,820,1794,4457,5214,92,16,7619,18308,43589,455,94819,11253,7627528,11010,874085,986,16758,30989,904,4916,1381,236,1714,20543,2561,25887,2031,6323,4140,24035,6920,12123,1693,106636,2090,3053,8918,15870,2896,2909,48830,2797,58659

In [13]:
pd.crosstab(vm.year, vm.ev2, dropna=False)

ev2,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,19,21,22,23,24,25,26,27,28,29,30,39,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,69,99,<NA>
year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2001,693,1459,94,113,213,11049,823,0,125,254,117,0,0,0,0,0,1627,2716,5102,37,170,3906,164,686,5142,0,0,2569,207,0,649,83,270,2932,0,2392,0,1515,0,3609,851,866,105,10734,424,695,1061,2611,0,0,3602,0,521224
2002,911,1216,66,52,161,13461,976,0,81,340,120,0,0,0,0,0,1614,2475,5123,35,4248,557,313,470,3089,0,0,2097,266,0,418,120,643,2948,0,2830,0,1299,0,2834,1480,671,1658,10571,675,730,1368,2643,0,0,3009,0,534932
2003,1023,1170,66,56,155,16166,1250,0,91,311,116,0,0,0,0,0,1574,2314,5077,28,5255,406,177,587,5539,0,0,2694,230,0,497,85,387,3507,0,3278,0,1522,0,3127,1210,854,630,11922,579,813,1167,2827,0,0,3693,0,529056
2004,777,1364,61,55,153,16547,1189,0,75,345,125,0,0,0,0,0,1475,2496,5464,28,5072,343,131,512,5428,0,0,2497,238,0,497,67,352,3427,0,3135,0,1585,0,3155,1056,925,367,12372,432,733,1109,2517,0,0,4168,0,529128
2005,595,1455,65,54,135,15198,1273,0,91,336,128,0,0,0,0,0,1310,2359,5482,15,3991,294,147,536,5353,0,0,2230,224,0,463,62,280,3361,0,2806,0,1726,0,3464,1022,959,338,11995,505,737,1072,2863,0,0,4356,0,517055
2006,970,1473,90,25,109,5985,3937,998,71,106,35,218,63,136,0,0,457,571,1924,14,382,136,11172,472,4040,96,274,593,246,40,69,19,150,3335,433,2657,146,1317,439,3398,525,1123,87,9005,587,918,1012,3259,576,345,2087,65,488841
2007,904,1481,86,19,75,5827,3831,933,50,84,36,175,63,99,0,0,231,260,1043,13,177,75,10633,337,3124,83,229,562,167,12,69,16,141,3824,447,2757,160,1545,427,3669,579,1083,71,8439,648,1110,1016,3755,726,363,2166,96,511614
2008,997,1393,73,40,62,5441,3551,938,63,86,37,214,49,133,0,0,252,239,933,8,442,80,9669,297,2890,108,244,513,115,21,71,17,131,3605,451,2327,124,1470,416,3469,563,1089,82,8205,647,1053,1026,3603,678,360,2202,95,506610
2009,852,1233,54,38,70,5243,3612,1097,67,90,28,167,54,121,0,0,281,302,902,9,502,75,9284,261,2733,77,294,578,139,28,58,25,113,4090,407,2548,104,1558,401,3619,568,1095,81,8616,663,1052,1039,3690,739,379,2160,95,501652
2010,634,1371,64,31,67,4775,3157,989,57,95,46,204,56,139,0,0,239,181,682,5,639,91,8953,192,2568,114,282,621,127,21,53,9,96,3547,411,2204,110,1377,350,3271,486,1094,73,8067,589,964,931,3203,652,324,2048,130,506586
2011,572,1325,53,31,60,4957,3018,1073,49,96,26,165,64,100,0,0,225,106,489,8,735,78,8799,226,2664,93,275,609,132,17,62,15,102,3631,446,2318,98,1228,325,3200,465,1014,65,7451,645,976,852,2898,657,310,2094,103,497103
2012,457,1242,57,25,59,4551,2955,978,47,77,44,180,62,88,0,0,217,115,448,9,710,79,9999,185,2860,70,244,421,107,16,59,16,104,3266,378,2031,91,1295,386,2978,463,985,57,7768,530,776,869,2684,620,324,1915,18,481707
2013,729,1137,79,16,48,4560,3171,1107,53,63,32,162,57,108,0,0,170,112,488,10,683,82,9948,140,3016,70,234,465,154,12,51,10,84,3225,464,2151,87,1285,346,3162,466,1029,69,7953,617,885,852,2903,695,305,1907,154,490409
2014,1156,1100,53,61,45,4130,3043,1222,52,69,32,165,63,100,0,0,151,86,409,7,149,41,9223,114,3036,99,276,580,65,19,42,8,87,3241,455,2128,100,1325,370,3185,466,965,55,7351,545,971,858,2609,678,330,1963,265,493560
2015,1038,1113,68,26,82,4261,3144,1286,51,59,35,156,62,105,0,0,114,45,302,4,139,30,9457,94,2806,61,305,525,112,14,52,11,80,3473,455,2147,87,1308,390,3321,406,842,59,7376,557,896,761,2687,671,335,1551,246,458823
2016,2991,1255,100,56,107,4256,3057,1249,38,63,35,149,48,86,0,0,113,64,305,6,149,36,10074,90,3028,73,203,505,135,19,44,13,67,3223,474,2181,90,1174,392,3065,385,809,55,7448,510,762,699,2411,608,288,1441,210,477415
2017,4071,1297,115,86,97,4228,3243,327,1037,63,36,171,55,110,44,180,103,268,844,10,73,15,13919,90,6684,59,272,432,64,17,41,11,60,3092,397,2015,92,1193,424,3095,411,837,47,7083,518,676,693,2180,636,310,1389,179,463435
2018,2337,1323,115,85,85,4040,3148,285,925,48,74,157,48,67,41,216,96,338,873,6,109,31,13494,97,5793,63,297,511,97,10,33,16,65,3386,401,2187,115,1251,387,3118,471,756,53,6863,606,712,672,2453,619,277,1378,197,477461
2019,4133,1260,71,56,75,3819,2852,308,858,60,48,145,53,77,34,180,71,351,874,5,116,30,14317,84,8079,46,191,403,115,11,40,8,80,2958,414,1887,88,1227,432,2792,368,789,41,6505,489,571,611,2111,583,260,1355,229,475793
2020,5147,1096,71,59,53,3177,2614,225,695,46,25,149,44,77,30,206,61,297,627,3,140,25,9659,44,6775,44,139,310,59,17,25,9,62,2770,350,1906,64,1078,329,2381,325,610,31,5287,414,527,568,1805,489,217,1156,162,309746
2021,4117,1313,94,88,111,3421,2730,244,795,67,27,157,51,101,40,192,85,335,682,5,134,28,11115,58,7826,30,133,458,67,13,23,9,50,2623,358,1884,67,1132,354,2569,346,634,39,5706,421,617,503,1857,516,247,1329,222,370171

In [9]:
pd.crosstab(v.hit_run, v.departure, dropna=False)

departure     1       2       3      4      5        6       <NA>
hit_run
False      6947830  683161  481137  22333  38915  1978446  719927
True        248744   32741    5442   3840   4810    29931  253569

In [6]:
v.ev.value_counts(dropna=False).sort_index()

ev
0         15131
1          9959
2           363
3           156
4           267
9          1110
11          869
12         2213
19          924
21         5352
22        10113
23           61
24        46202
25         2468
26      1705114
27          440
28       146744
29          245
30         7106
39        10405
41          420
42         1693
43          343
44           80
45          481
46        19419
47         2894
48        13267
49          628
50         4724
51         2770
52        22315
53         3290
54         4402
55          191
56        12226
57         2205
58         2080
59         3494
60        17799
61         2350
62         2010
69        15726
99         1533
<NA>    9349244
Name: count, dtype: Int64

In [4]:
hr = v[v.hit_run]
hr.dmg.value_counts(dropna=False)

dmg
<NA>    481559
0        43072
2        20725
3        17546
4        11497
1         4678
Name: count, dtype: Int64

In [3]:
assert (c[pk_base].sort_values(pk_base) == c[pk_base]).all().all()

In [2]:
%%time
d = drivers.load(write_pqt=True)
d

Computing
Merging drivers with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet

CPU times: user 1min 13s, sys: 10.2 s, total: 1min 24s
Wall time: 1min 25s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/drivers.parquet (11450826 rows, 206.5 MB)

,crash_id,vn,city,state,zip,license_state,dob,sex,alc_test_given,alc_test_type,alc_test_results,charge1,summons1,status1,charge2,summons2,charge3,summons3,charge4,summons4,status2
id,,,,,,,,,,,,,,,,,,,,,
0,0,1,GALLOWAY TWSP.,NJ,08205,NJ,02/06/1963,M,N,,,,,1,,,,,,,<NA>
1,0,2,ATLANTIC CITY,NJ,08401,NJ,06/30/1938,F,N,,,39:4-144 #A046899,,1,,,,,,,<NA>
2,1,1,,,,,,,,,,,,<NA>,,,,,,,<NA>
3,1,2,,,,,,,N,,,,,0,,,,,,,<NA>
4,2,1,ABSECON,NJ,08201,NJ,07/03/1971,F,N,,,39:3-76.2E (2) A046071 2,,1,,,,,,,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450821,6077299,2,BELVIDERE,NJ,07823,NJ,,F,N,,,,,<NA>,,,,,,,<NA>
11450822,6077300,1,LANDING,NJ,07850,NJ,,M,N,,,,,<NA>,,,,,,,<NA>
11450823,6077301,1,BELVIDERE,NJ,07823,NJ,,M,N,,,,,<NA>,,,,,,,<NA>
11450824,6077302,1,PHILLIPSBURG,NJ,08865,NJ,,M,N,,,,,<NA>,,,,,,,<NA>
11450825,6077302,2,BELVIDERE,NJ,07823,NJ,,F,N,,,,,<NA>,,,,,,,<NA>

In [4]:
%%time
p = pedestrians.load(write_pqt=True)
p

Computing
Merging pedestrians with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet

CPU times: user 10.4 s, sys: 1.09 s, total: 11.5 s
Wall time: 11.6 s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/pedestrians.parquet (178521 rows, 4.6 MB)

,crash_id,pn,condition,city,state,zip,dob,age,sex,alc_test_given,alc_test_type,alc_test_results,charge1,summons1,traffic_controls,cir1,cir2,dir,act,inj_loc,inj_type,med_refused,safety_used,hospital,status1,cyclist,other,charge2,summons2,charge3,summons3,charge4,summons4,status2
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,7,1,3,ABSECON,NJ,08201,07/28/1990,10,M,,,,,,<NA>,<NA>,<NA>,<NA>,41,1,5,<NA>,<NA>,,1,False,False,,,,,,,<NA>
1,48,31,3,ABSECON,NJ,08201,01/16/1967,34,M,,,,,,<NA>,<NA>,<NA>,<NA>,<NA>,1,4,<NA>,<NA>,,<NA>,True,False,,,,,,,<NA>
2,76,1,2,EGG HARBOR TWP.,NJ,08234,11/16/1952,48,F,N,,,,,<NA>,<NA>,<NA>,<NA>,46,12,3,<NA>,<NA>,,1,False,False,,,,,,,<NA>
3,114,1,4,GALLOWAY TWP.,NJ,08205,03/31/1959,42,F,N,,,SUBPOENA,,<NA>,<NA>,<NA>,<NA>,49,7,<NA>,<NA>,<NA>,,1,False,False,,,,,,,<NA>
4,236,1,4,ABSECON,NJ,08201,04/18/1953,48,M,N,,,,,<NA>,<NA>,<NA>,<NA>,43,1,4,<NA>,<NA>,,1,False,False,,,,,,,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178516,6076961,1,4,WASHINGTON,NJ,07882,,74,F,N,,,,,5,25,<NA>,3,43,6,8,2,1,7102,1,False,False,,,,,,,<NA>
178517,6076969,31,3,WASHINGTON,NJ,07882,,17,M,N,,,,,4,25,<NA>,2,3,11,5,1,8,,1,True,False,,,,,,,<NA>
178518,6076973,1,1,PORT MURRAY,NJ,07865,,59,M,N,,,,,4,73,89,0,36,12,3,<NA>,<NA>,7102,2,False,False,,,,,,,<NA>
178519,6077021,1,2,WASHINGTON,NJ,07882,,65,M,N,,,,,11,89,<NA>,3,42,12,3,2,<NA>,99,1,False,False,,,,,,,<NA>
178520,6077192,1,3,ROSELLE PARK,NJ,07204,,24,M,,,,,,<NA>,<NA>,<NA>,<NA>,<NA>,7,5,0,<NA>,7102,<NA>,False,False,,,,,,,<NA>

In [6]:
%%time
o = occupants.load(write_pqt=True)
o

Computing
Merging occupants with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet
Crash 12410270: fixing bad vehicle num, 25 → 2
Merging occupants with vehicles
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/vehicles.parquet

CPU times: user 1min 26s, sys: 8.82 s, total: 1min 35s
Wall time: 1min 36s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/occupants.parquet (13756726 rows, 215.7 MB)

,crash_id,vehicle_id,on,condition,pos,eject,age,sex,inj_loc,inj_type,med_refused,safety_avail,safety_used,airbag,hospital
id,,,,,,,,,,,,,,,
0,0,0,1,<NA>,1,1,38,M,<NA>,<NA>,,4,4,<NA>,
1,0,1,2,<NA>,1,1,63,F,<NA>,<NA>,,4,4,<NA>,
2,1,2,1,<NA>,<NA>,<NA>,<NA>,,<NA>,<NA>,,<NA>,<NA>,<NA>,
3,2,4,1,3,1,1,29,F,6,8,,4,4,<NA>,
4,2,4,2,3,3,1,7,M,8,5,,4,4,<NA>,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13756721,6077301,11450823,1,5,1,1,74,M,<NA>,<NA>,01,11,4,<NA>,
13756722,6077302,11450824,1,5,1,1,23,M,<NA>,<NA>,,11,4,<NA>,
13756723,6077302,11450824,2,5,3,1,23,F,<NA>,<NA>,,11,4,<NA>,
13756724,6077302,11450824,3,5,6,1,25,M,<NA>,<NA>,,11,4,<NA>,
13756725,6077302,11450825,4,5,1,1,17,F,<NA>,<NA>,,11,4,<NA>,